<h2 class="text-2xl font-semibold text-center text-color mb-22">Hacer {{tipoDeposito}}</h2>
<form (ngSubmit)="onSubmit()" [formGroup]="registerForm" class="space-y-10">
    
    <div class="grid sm:grid-cols-2 gap-4">
        <div>
            <label for="monto" class="block text-sm font-medium text-color mb-1">Monto de {{tipoDeposito}}:</label>
            <p-inputnumber
            id="monto"
            prefix="$ "
            formControlName="monto"
            class="w-full" 
            appAutofocus
            [min]="0.01"
            locale="en-US"
            [maxFractionDigits]="2"           
            />
            <small *ngIf="registerForm.get('monto')?.hasError('required') && registerForm.get('monto')?.touched" class="text-red-500">
            Ingrese el monto
            </small>
        </div>     

        <div>
            <label for="descri" class="block text-sm font-medium text-color mb-1">Descripción</label>
            <input
            id="descri"
            type="text"
            pInputText
            formControlName="descri"
            class="w-full"            
            />
            <small *ngIf="registerForm.get('descri')?.hasError('required') && registerForm.get('descri')?.touched" class="text-red-500">
            Ingrese descripción
            </small>
        </div> 

        <div  class="mt-6">
            <label for="fecha" class="block text-sm font-medium text-color mb-1">Fecha de {{tipoDeposito}}</label>
            
            <p-datepicker
                class="w-full"
                id="fecha"
                [showIcon]="true"
                formControlName="fecha"
                dateFormat="yy-mm-dd"
                [readonlyInput]="true"
            ></p-datepicker>
            <small *ngIf="registerForm.get('fecha')?.hasError('required') && registerForm.get('fecha')?.touched" class="text-red-500">
            Ingrese fecha de {{tipoDeposito}}
            </small>
            
        </div>
    </div>    

    <div>
        <button
            pButton
            type="submit"
            [label]="labelGuardar"
            class="w-full"
            [disabled]="registerForm.invalid"
            [severity]="colorSeverity"
        ></button>
    </div>
    
</form>