<p-toast />
<p-table #dt
    [value]="categoriasG" 
    [lazy]="true"
    
    [paginator]="true"
    [rowsPerPageOptions]="rowsPerPageOptions"
    [rows]="rowsDefault"
    [totalRecords]="totalRecords"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando de {first} a {last} del total {totalRecords} categorias"
    
    filterMode="row"
    
    (onLazyLoad)="getCategoriasGastoData($event)"
    
    [loading]="loading"
    [tableStyle]="{ 'min-width': '50rem' }">

    <ng-template pTemplate="caption">
        <div class="flex items-center justify-between">
            <span class="text-xl font-bold">Mis Categorias</span>
            <button
                pButton
                label="Agregar categoria" 
                (click)="addCategoria()" 
                icon="pi pi-sitemap" 
                class="w-40" 
                severity="info" text>
                
            </button>
            <div>
                <p-button icon="pi pi-eraser" 
                    class="mr-2"
                    (click)="resetTable()" rounded raised />
                <p-button icon="pi pi-filter-fill" 
                    class="mr-2"
                    (click)="showHiddeFilters()" rounded raised />
                <p-button icon="pi pi-refresh" 
                    (click)="reloadTable()" rounded raised />
            </div>  
        </div>
    </ng-template>
    
    <ng-template pTemplate="header">
        <!-- filtros -->
         <tr *ngIf="showFilters">
            <th>                
            </th>
            <th>
                <input class="border-solid border-1 rounded-sm border-opacity-50 h-10 px-2"
                [placeholder]="'Contiene...'"
                pInputText
                type="text"
                (input)="onFilterInput($event, 'nombre', 'contains')"
                />
            </th>
            <th>
                <p-select 
                    class="border-solid border-1 rounded-sm border-opacity-50 h-10 px-2 w-full"
                    [options]="[
                        { label: 'Todos', value: '' },
                        { label: 'Ingreso', value: 'Ingreso' },
                        { label: 'Gasto', value: 'Gasto' }                        
                    ]"
                    placeholder="Movimiento"
                    (onChange)="onFilterSelect($event.value, 'tipo', 'contains')"
                    styleClass="w-full"
                ></p-select>            
               </th>
            <th>
                <input class="border-solid border-1 rounded-sm border-opacity-50 h-10 px-2"
                [placeholder]="'Contiene...'"
                pInputText
                type="text"
                (input)="onFilterInput($event, 'descri', 'contains')"
                />
            </th>
            <th>
                <p-select 
                    class="border-solid border-1 rounded-sm border-opacity-50 h-10 px-2 w-full"
                    [options]="[
                        { label: 'Todas', value: '' },
                        { label: 'Activa', value: 'true' },
                        { label: 'Inactiva', value: 'false' },
                    ]"
                    placeholder="Estado"
                    (onChange)="onFilterSelect($event.value, 'visible', 'equals')"
                    styleClass="w-full"
                ></p-select>            
            </th>            
        </tr>
        <tr>
            <th pSortableColumn="id"><p-sortIcon field="id" /> ID</th>
            <th pSortableColumn="nombre"><p-sortIcon field="username" /> Nombre</th>
            <th pSortableColumn="tipo"><p-sortIcon field="tipo" /> Tipo</th>
            <th pSortableColumn="descri"><p-sortIcon field="descri" /> Descripción</th>
            <th pSortableColumn="visible"><p-sortIcon field="visible" /> Activa</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-categoria>
        <tr>
            <td>{{ categoria.id }}</td>
            <td>
                <app-categoria-label
                [categoria]="categoria"
                />                              
            </td>
            <td>
                <span [ngClass]="{'text-green-600': categoria.tipo === 'Ingreso', 'text-red-600': categoria.tipo === 'Gasto'}">
                    {{ categoria.tipo }}
                </span>
            </td>
            <td>{{ categoria.descri }}</td>
            <td>
                @if(categoria.visible){
                    <span class="text-green-600">Activa</span>
                }@else {
                    <span class="text-red-600">Inactiva</span>
                }
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog 
    [(visible)]="visibleAdd" 
    [modal]="true"
    [draggable]="true"
    styleClass="w-160 min-w-80 h-130"
    contentStyleClass="dialog-content-scroll"
    [resizable]="false">
    <app-categoria-create *ngIf="visibleAdd" 
        (msjEvent)="mostrarMensaje($event)"
        (cerrarDialog)="closeDialog($event)">

    </app-categoria-create>
</p-dialog>
