
<div class="flex justify-end ml-4 mb-8">
    <div class="">
        Lista de usuarios
    </div>
</div>
<p-table 
    [value]="usuarios" 
    [lazy]="true"
    
    [paginator]="true"
    [rowsPerPageOptions]="rowsPerPageOptions"
    [rows]="rowsDefault"
    [totalRecords]="totalRecords"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando de {first} a {last} del total {totalRecords} usuarios"
    
    
    (onLazyLoad)="getUsersData($event)"
    
    [loading]="loading"
    [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="id"><p-sortIcon field="id" /> ID</th>
            <th pSortableColumn="email"><p-sortIcon field="email" /> Email</th>
            <th pSortableColumn="username"><p-sortIcon field="username" /> Username</th>
            <th pSortableColumn="perfil.nombre"><p-sortIcon field="perfil.nombre" /> Perfil</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-usuario>
        <tr>
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.username }}</td>
            <td>{{ usuario.perfilNombre }}</td>
        </tr>
    </ng-template>
</p-table>