<p-toast />
<p-table #dt
  [value]="usuarios"
  [lazy]="true"

  [paginator]="true"
  [rowsPerPageOptions]="rowsPerPageOptions"
  [rows]="rowsDefault"
  [totalRecords]="totalRecords"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="Mostrando de {first} a {last} del total {totalRecords} usuarios"

  filterMode="row"

  (onLazyLoad)="getUsersData($event)"

  [loading]="loading"
  [tableStyle]="{ 'min-width': '50rem' }">

  <ng-template pTemplate="caption">
    <div class="flex items-center justify-between">
      <span class="text-xl font-bold">Usuarios</span>
      <button
        pButton
        label="Agregar usuario"
        (click)="addUser()"
        icon="pi pi-user"
        class="w-40"
        severity="info" text>

      </button>
      <div>
        <p-button icon="pi pi-eraser"
          class="mr-2"
          (click)="resetTable()" rounded raised />
          <p-button icon="pi pi-filter-fill"
            class="mr-2"
            (click)="showHiddeFilters()" rounded raised />
            <p-button icon="pi pi-refresh"
              (click)="reloadTable()" rounded raised />
            </div>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <!-- filtros -->
          @if (showFilters) {
            <tr>
              <th>
              </th>
              <th>
                <input class="border-solid border-2 rounded-full pl-2"
                  pInputText
                  type="text"
                  (input)="onFilterInput($event, 'email', 'contains')"
                  />
                </th>
                <th>
                  <input class="border-solid border-2 rounded-full pl-2"
                    pInputText
                    type="text"
                    (input)="onFilterInput($event, 'username', 'contains')"
                    />
                  </th>
                  <th>
                    <input class="border-solid border-2 rounded-full pl-2"
                      pInputText
                      type="text"
                      (input)="onFilterInput($event, 'perfil.nombre', 'contains')"
                      />
                    </th>
                    <th></th>
                  </tr>
                }
                <tr>
                  <th pSortableColumn="id"><p-sortIcon field="id" /> ID</th>
                  <th pSortableColumn="email"><p-sortIcon field="email" /> Email</th>
                  <th pSortableColumn="username"><p-sortIcon field="username" /> Username</th>
                  <th pSortableColumn="perfil.nombre"><p-sortIcon field="perfil.nombre" /> Perfil</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-usuario>
                <tr>
                  <td>{{ usuario.id }}</td>
                  <td>{{ usuario.email }}</td>
                  <td>{{ usuario.username }}</td>
                  <td>{{ usuario.perfilNombre }}</td>
                </tr>
              </ng-template>
            </p-table>

            <p-dialog
              [(visible)]="visibleAddUser"
              [modal]="true"
              [draggable]="false"
              styleClass=""
              [style]="{ width: '40vw' }"
              [draggable]="false"
              [resizable]="false">
              @if (visibleAddUser) {
                <app-users-create
                  (msjEvent)="mostrarMensaje($event)"
                  (cerrarDialog)="closeDialog($event)">
                </app-users-create>
              }
            </p-dialog>