<p-toast />
<div class="min-h-screen flex items-center justify-center bg-surface-ground">
    <div class="p-8 rounded-2xl shadow-lg w-full max-w-md bg-surface-card border border-surface-border">
      <h2 class="text-2xl font-semibold text-center text-color mb-6">Registrarse</h2>
  
      <form (ngSubmit)="onSubmit()" [formGroup]="registerForm" class="space-y-5">
        <div>
          <label for="username" class="block text-sm font-medium text-color mb-1">Indica tu nombre de Usuario</label>
          <input
            id="username"
            type="text"
            pInputText
            formControlName="username"
            class="w-full "
          />
          <small *ngIf="registerForm.get('username')?.hasError('required') && registerForm.get('username')?.touched" class="text-red-500">
            Usuario requerido
          </small>
        </div>
  
        <div>
          <label for="password" class="block text-sm font-medium text-color mb-1">Contraseña</label>
          <input
            id="password"
            type="password"
            pPassword
            formControlName="password"
            class="w-full "
          />
          <small *ngIf="registerForm.get('password')?.hasError('required') && registerForm.get('password')?.touched" class="text-red-500">
            Contraseña requerida
          </small>
        </div>

        <div>
          <label for="email" class="block text-sm font-medium text-color mb-1">E-mail</label>
          <input
            id="email"
            type="email"
            pInputText
            formControlName="email"
            class="w-full "
          />
          <small *ngIf="registerForm.get('email')?.hasError('required') && registerForm.get('email')?.touched" class="text-red-500">
            Email requerido
          </small>
          <small *ngIf="registerForm.get('email')?.hasError('email') && registerForm.get('email')?.touched" class="text-red-500">
            Email no válido
          </small>
        </div>
  
        <button
          pButton
          type="submit"
          label="Registrarme"
          class="w-full text-color"
          [disabled]="registerForm.invalid"
        ></button>
      </form>
      <div class="mt-4">
        <a [routerLink]="['/sign-in']" class="label-color"> Iniciar sesión </a>
      </div>      

    </div>   
  </div>
  