<div class="flex justify-end ml-4 mb-8">
    <div>
        <button
            pButton
            label="Agregar gasto" 
            (click)="addGasto()" 
            icon="pi pi-cart-plus" 
            class="bg-white w-40" 
            severity="info" text>
            
        </button>
    </div>
</div>
<p-table 
    [value]="gastos" 
    [lazy]="true"
    
    [paginator]="true"
    [rowsPerPageOptions]="rowsPerPageOptions"
    [rows]="rowsDefault"
    [totalRecords]="totalRecords"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando de {first} a {last} del total {totalRecords} gastos"
    
    
    (onLazyLoad)="getgastosData($event)"
    
    [loading]="loading"
    [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="id"><p-sortIcon field="id" /> ID</th>
            <th pSortableColumn="fecha"><p-sortIcon field="fecha" /> Fecha</th>
            <th pSortableColumn="descri"><p-sortIcon field="descri" /> Descripción</th>            
            <th pSortableColumn="monto"><p-sortIcon field="monto" /> monto</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-gasto>
        <tr>
            <td>{{ gasto.id }}</td>
            <td>{{ gasto.fecha }}</td>
            <td>{{ gasto.descri }}</td>            
            <td>{{ gasto.monto }}</td>
        </tr>
    </ng-template>
</p-table>