<div class="flex justify-end ml-4 mb-8">
    <div>
        <button
            pButton
            label="Agregar gasto" 
            (click)="addGasto()" 
            icon="pi pi-cart-plus" 
            class="bg-white w-40" 
            severity="info" text>
            
        </button>
    </div>
</div>
<p-table [value]="gastos" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template #header>
        <tr>
            <th>ID</th>
            <th>Fecha</th>
            <th>Descripción</th>
            <th>Monto</th>
            <th>id usuario</th>
            <th>Contado</th>
        </tr>
    </ng-template>
    <ng-template #body let-gasto>
        <tr>
            <td>{{ gasto.id }}</td>
            <td>{{ gasto.fecha }}</td>
            <td>{{ gasto.descri }}</td>
            <td>{{ gasto.monto }}</td>
            <td>{{ gasto.idusuario }}</td>
            <td>{{ gasto.contado }}</td>
        </tr>
    </ng-template>
</p-table>