<p-drawer
    [visible]="showSidebar()"
    [modal]="isMobile()"
    (onHide)="showSidebar.set(false)"
    [closable]="false"
  >
    <ng-template #header>
        <div class="flex flex-col h-full">
            <div class="flex items-center justify-between px-6 pt-4 shrink-0 mb-10">
                <span class="inline-flex items-center gap-2">
                    <span class="font-semibold text-2xl text-primary">Finanzas personales</span>
                </span>
                <span class="ml-10">
                    <p-button type="button" (click)="toggleSidebar()" icon="pi pi-times" rounded="true" outlined="true" styleClass="h-8 w-8"></p-button>
                </span>
            </div>
        </div>        
    </ng-template>
  	<ng-template #content>	
        <div class="flex flex-col h-full">           

            <div class="overflow-y-auto">
                <p-panelMenu [model]="menuItems"></p-panelMenu>  
            </div>

            <div class="mt-auto">
                <hr class="mb-4 mx-4 border-t border-0 border-surface" />
                <a pRipple class="m-4 flex items-center cursor-pointer p-4 gap-2 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
                    <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
                    <span class="font-bold">{{_authService._user()?.username}}</span>
                </a>
            </div>            
        </div>        
    </ng-template>
    <ng-template #footer>
        <div class="flex items-center gap-2">
            <button pButton label="Cuenta" icon="pi pi-user" class="w-full" outlined></button>
            <button pButton label="Cerrar sesión" (click)="singOut()" icon="pi pi-sign-out" class="w-full" severity="danger" text></button>
        </div>
    </ng-template>
</p-drawer>

<div class="flex h-screen" [ngClass]="{'ml-80 transition-all': showSidebar() && !isMobile()}">
	<div class="flex flex-col flex-1">
		<!-- Header -->
		<div class="bg-gray-300 text-white p-4 shadow-md">
			<div class="flex">
				<!-- Botón hamburguesa (visible solo en móvil) -->
				<p-button *ngIf="!showSidebar()" (click)="toggleSidebar()" icon="pi pi-bars" />
				<p class="ml-10">usuario: {{_authService._user()?.username}}</p>
				<p class="ml-10">email {{_authService._user()?.email}}</p>
				<p class="ml-10">perfil {{_authService._user()?.perfil?.nombre}}</p>				
			</div>			
		</div>

		<!-- Zona de trabajo -->
		<main class="flex-1 p-4 overflow-auto bg-gray-100">	
			<router-outlet></router-outlet>
		</main>
	</div>
</div>