<!-- <div class="bg-sky-800 bg-emerald-800 bg-rose-500 bg-red-600 bg-lime-700 bg-cyan-500 bg-yellow-400 bg-green-500 bg-violet-500 bg-lime-700 bg-orange-600 bg-red-400 bg-orange-800 bg-slate-600 bg-fuchsia-800 bg-indigo-600 bg-teal-300 "></div> -->
<h2 class="text-2xl font-semibold text-center mb-22">Agregar gasto nuevo</h2>
<form (ngSubmit)="onSubmit()" [formGroup]="registerForm" class="space-y-10">
    
    <div class="grid sm:grid-cols-2 gap-4">
        <div>
            <label for="monto" class="block text-sm font-medium mb-1">Monto:</label>
            <p-inputnumber
            id="monto"
            prefix="$ "
            formControlName="monto"
            class="w-full"
            appAutofocus
            [min]="0.01"
            locale="en-US"
            [maxFractionDigits]="2"
            />
            <small *ngIf="registerForm.get('monto')?.hasError('required') && registerForm.get('monto')?.touched" class="text-red-500">
                Cuanto gastastes pues?
            </small>            
        </div> 

        <div>
            <label for="descri" class="block text-sm font-medium mb-1">Descripcion</label>
            <input
            id="descri"
            type="text"
            pInputText
            formControlName="descri"
            class="w-full"
            />
            <small *ngIf="registerForm.get('descri')?.hasError('required') && registerForm.get('descri')?.touched" class="text-red-500">
            Ingrese descripción
            </small>
        </div> 

        <div class="mt-6">
            <label for="categoria" class="block text-sm font-medium mb-1">Categoria:</label>
            <p-select 
                id="categoria"
                [options]="catCategorias" 
                formControlName="categoriaId" 
                optionLabel="nombre"
                placeholder="Seleccione categoria"
                [editable]="true" class="w-full">

                <ng-template #selectedItem let-selectedOption>
                    <div class="flex items-center gap-2" *ngIf="selectedOption">
                        <div>
                            <i *ngIf="selectedOption.icon!=null" [class]="selectedOption.icon"></i>
                            {{ selectedOption.nombre }}
                        </div>
                    </div>
                </ng-template>
                <ng-template let-categoria #item>
                    <div class="flex items-center gap-2">
                        <app-categoria-label
                            [categoria]="categoria"
                        />                           
                    </div>
                </ng-template>
                <ng-template #dropdownicon>
                    <i class="pi pi-sitemap"></i>
                </ng-template>
                <ng-template #header>
                    <div class="font-medium p-3">Mis categorias</div>
                </ng-template>
                <ng-template #footer>
                    <!--div class="p-3">
                        <p-button label="Agregar nueva" (click)="addCategoria()" fluid severity="secondary" text size="small" icon="pi pi-plus" />
                    </div-->
                </ng-template>
            </p-select>
            <small *ngIf="registerForm.get('categoriaId')?.hasError('required') && registerForm.get('categoriaId')?.touched" class="text-red-500">
            Seleccione categoria
            </small>
        </div>


        <div  class="mt-6">
            <label for="fecha" class="block text-sm font-medium mb-1">Fecha</label>
            
            <p-datepicker
                class="w-full"
                id="fecha"
                [showIcon]="true"
                formControlName="fecha"
                dateFormat="yy-mm-dd"
                [readonlyInput]="true"
            ></p-datepicker>
            <small *ngIf="registerForm.get('fecha')?.hasError('required') && registerForm.get('fecha')?.touched" class="text-red-500">
            Ingrese fecha
            </small>
            
        </div>
    </div>    

    <div>
        <button
            pButton
            type="submit"
            label="Registrar"
            class="w-full"
            [disabled]="registerForm.invalid"
            severity="warn"
        ></button>
    </div>
    
</form>

