<!-- <div class="bg-sky-800 bg-emerald-800 bg-rose-500 bg-red-600 bg-lime-700 bg-cyan-500 bg-yellow-400 bg-green-500 bg-violet-500 bg-lime-700 bg-orange-600 bg-red-400 bg-orange-800 bg-slate-600 bg-fuchsia-800 bg-indigo-600 bg-teal-300 "></div> -->
<p-toast />
<p-table #dt
    [value]="movimientos"
    [lazy]="true"

    [paginator]="true"
    [rowsPerPageOptions]="rowsPerPageOptions"
    [rows]="rowsDefault"
    [totalRecords]="totalRecords"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando de {first} a {last} del total {totalRecords} gastos"

    filterMode="row"

    (onLazyLoad)="getDataItems($event)"

    [loading]="loading"
    [tableStyle]="{ 'min-width': '50rem', 'min-height': '30rem' }"

    dataKey="id"
    editMode="row"
    >
    <ng-template pTemplate="caption">
        <div class="flex items-center justify-between">
            <span class="text-xl font-bold">Movimientos</span>
            <button
                pButton
                label="Nuevo gasto"
                (click)="addGasto()"
                icon="pi pi-cart-plus"
                class="w-40"
                severity="warn" text>

            </button>
            <button
              pButton
              label="Nuevo ingreso"
              (click)="addIngreso()"
              icon="pi pi-check"
              class="w-40"
              severity="success" text>

            </button>
            <div>
                <p-button icon="pi pi-eraser"
                    class="mr-2"
                    (click)="resetTable()" rounded raised />
                <p-button icon="pi pi-filter-fill"
                    class="mr-2"
                    (click)="showHiddeFilters()" rounded raised />
                <p-button icon="pi pi-refresh"
                    (click)="reloadTable()" rounded raised />
            </div>


        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="fecha"><p-sortIcon field="fecha" /> Fecha</th>
            <th pSortableColumn="descri"><p-sortIcon field="descri" /> Descripción</th>
            <th pSortableColumn="tipo"><p-sortIcon field="tipo" /> Operación</th>
            <th pSortableColumn="monto"><p-sortIcon field="monto" /> Monto</th>
            <th pSortableColumn="categoria.nombre"><p-sortIcon field="categoria.nombre" /> Categoria</th>
            <th>Acciones</th>
        </tr>
        <!-- filtros -->
         <tr *ngIf="showFilters">
            <th class="min-w-50">
                <div *ngIf="!filterFecharango" >
                    <p-datepicker
                        [showIcon]="true"
                        [placeholder]="'Fecha exacta'"
                        (onSelect)="onFilterExactDate($event, 'fecha')"
                        dateFormat="yy-mm-dd"
                        [readonlyInput]="true"
                    ></p-datepicker>
                    <br>
                    <span class="text-muted-color text-sm cursor-pointer" (click)="filterFecharango=true">Por rango</span>
                </div>

                <div *ngIf="filterFecharango">
                    <p-datepicker
                        [showIcon]="true"
                        [placeholder]="'Rango de fecha'"
                        [(ngModel)]="filtroFechaRango"
                        (ngModelChange)="onFilterDateRange($event, 'fecha')"
                        dateFormat="yy-mm-dd"
                        [readonlyInput]="true"
                        selectionMode="range"
                    ></p-datepicker>
                    <br>
                    <span class="text-muted-color text-sm cursor-pointer" (click)="filterFecharango=false">fecha exacta</span>
                </div>
            </th>
            <th>
                <input class="border-solid border-1 rounded-sm border-opacity-50 h-10 px-2"
                pInputText
                [placeholder]="'Contiene...'"
                type="text"
                (input)="onFilterInput($event, 'descri', 'contains')"
                />
            </th>
           <th>
            <p-select 
                class="border-solid border-1 rounded-sm border-opacity-50 h-10 px-2 w-full"
                [options]="[
                    { label: 'Todos', value: '' },
                    { label: 'Ingreso', value: 'Ingreso' },
                    { label: 'Gasto', value: 'Gasto' }
                ]"
                placeholder="Operacón"
                (onChange)="onFilterSelect($event.value, 'tipo', 'contains')"
                styleClass="w-full"
            ></p-select>            
           </th>
            <th>
                <input class="border-solid border-1 rounded-sm border-opacity-50 h-10 px-2"
                pInputText
                [placeholder]="'aprox..'"
                type="number"
                (input)="onFilterNumberInput($event, 'monto', 'between')"
                />
            </th>
            <th>
                <input class="border-solid border-1 rounded-sm border-opacity-50 h-10 px-2"
                pInputText
                [placeholder]="'Contiene...'"
                type="text"
                (input)="onFilterInput($event, 'categoria.nombre', 'contains')"
                />
            </th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-movimiento let-ri="rowIndex">
        <tr [pEditableRow]="movimiento">
            <td class="min-w-50">
                <p-cellEditor>
                    <ng-template #input>
                        <p-datepicker
                            class="w-full"
                            id="fecha"
                            [showIcon]="true"
                            dateFormat="yy-mm-dd"
                            [readonlyInput]="true"
                            [(ngModel)]="movimiento.fecha"
                        ></p-datepicker>
                    </ng-template>
                    <ng-template #output>
                        {{ movimiento.fecha }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template #input>
                        <input
                            class="border-solid border-1 rounded-sm border-opacity-50 h-10 px-2"
                            pInputText type="text" required
                            [(ngModel)]="movimiento.descri" />
                    </ng-template>
                    <ng-template #output>
                        {{ movimiento.descri }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <span
                [ngClass]="{ 
                    'text-green-600': movimiento.tipo === 'Ingreso',
                    'text-red-600': movimiento.tipo === 'Gasto' }">
                    {{ movimiento.tipo }}
              </span>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template #input>
                        <p-inputnumber *ngIf="movimiento.tipo === 'Ingreso'"
                            id="monto"
                            prefix="$ "
                            [(ngModel)]="movimiento.monto"
                            class="border-solid border-1 rounded-sm border-opacity-50 h-10"
                            appAutofocus
                            [min]="0.01"
                            locale="en-US"
                            [maxFractionDigits]="2"
                            />
                            <p-inputnumber *ngIf="movimiento.tipo === 'Gasto'"
                                id="monto"
                                prefix="$ "
                                [(ngModel)]="movimiento.monto"
                                class="border-solid border-1 rounded-sm border-opacity-50 h-10"
                                [max]="-0.01"
                                locale="en-US"
                                [maxFractionDigits]="2"
                            />
                    </ng-template>
                    <ng-template #output>
                      <span
                        class="font-bold"
                      [ngClass]="{ 'text-green-600': movimiento.tipo === 'Ingreso','text-red-600': movimiento.tipo === 'Gasto' }">
                        {{ movimiento.monto }}
                      </span>
                    </ng-template>
                </p-cellEditor>
            </td>
            <td class="min-w-60">
                <p-cellEditor>
                    <ng-template #input>
                        <p-select
                            id="categoria"
                            [(ngModel)]="movimiento.categoria_id"
                            [options]="filterByTipo(catCategorias, movimiento.tipo)"
                            optionValue="id"
                            optionLabel="nombre"
                            [editable]="true" class="w-full"
                            (onChange)="onCategoriaChange($event, movimiento)">

                            <ng-template #selectedItem let-selectedOption>
                                <div class="flex items-center gap-2" *ngIf="selectedOption">
                                    <div>
                                        <i *ngIf="selectedOption.icon!=null" [class]="selectedOption.icon"></i>
                                        {{ selectedOption.nombre }}
                                    </div>
                                </div>
                            </ng-template>

                            <ng-template let-categoria #item>
                                <div class="flex items-center gap-2">
                                    <app-categoria-label
                                        [categoria]="categoria"
                                    />                                    
                                </div>
                            </ng-template>
                            <ng-template #dropdownicon>
                                <i class="pi pi-sitemap"></i>
                            </ng-template>
                        </p-select>
                    </ng-template>
                    <ng-template #output>
                        <app-categoria-label
                            [movimiento]="movimiento"
                        />                          
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <div class="flex items-center justify-center gap-2">
                    <button
                        *ngIf="!movimiento.editing && movimiento.categoria_id!=108"
                        pButton
                        pRipple
                        type="button"
                        pInitEditableRow
                        (click)="onRowEditInit(movimiento)"
                        icon="pi pi-pen-to-square"
                        rounded
                        text
                        severity="info"
                        pTooltip="Editar">
                    </button>
                    <p-confirmpopup #cp/>
                    <button
                        *ngIf="!movimiento.editing && movimiento.categoria_id!=108"
                        pButton
                        pRipple
                        type="button"
                        (click)="onDelete(movimiento, $event)"
                        icon="pi pi-trash"
                        rounded
                        text
                        severity="warn"
                        pTooltip="Eliminar">
                    </button>
                    <button
                        *ngIf="movimiento.editing"
                        pButton
                        pRipple
                        type="button"
                        pSaveEditableRow
                        icon="pi pi-check"
                        (click)="onRowEditSave(movimiento, ri)"
                        text
                        rounded
                        severity="success"
                        pTooltip="Guardar"
                    ></button>
                    <button
                        *ngIf="movimiento.editing"
                        pButton
                        pRipple
                        type="button"
                        pCancelEditableRow
                        icon="pi pi-times"
                        (click)="onRowEditCancel(movimiento, ri)"
                        text
                        rounded
                        severity="secondary"
                        pTooltip="Cancelar"
                    ></button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog
    [(visible)]="visibleAddGasto"
    [modal]="true"
    [draggable]="true"
    styleClass="w-160 min-w-80 h-130"
    contentStyleClass="dialog-content-scroll"
    [resizable]="false">
    <app-gasto-create *ngIf="visibleAddGasto"
        (msjEvent)="mostrarMensaje($event)"
        (cerrarDialog)="closeDialog($event)">
    </app-gasto-create>
</p-dialog>

<p-dialog
    [(visible)]="visibleAddIngreso"
    [modal]="true"
    [draggable]="true"
    styleClass="w-160 min-w-80 h-130"
    contentStyleClass="dialog-content-scroll"
    [resizable]="false">
    <app-ingreso-create *ngIf="visibleAddIngreso"
        (msjEvent)="mostrarMensaje($event)"
        (cerrarDialog)="closeDialog($event)">
    </app-ingreso-create>
</p-dialog>
