<p-toast />
<p-table #dt
    [value]="categoriasI" 
    [lazy]="true"
    
    [paginator]="true"
    [rowsPerPageOptions]="rowsPerPageOptions"
    [rows]="rowsDefault"
    [totalRecords]="totalRecords"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando de {first} a {last} del total {totalRecords} categorias"
    
    filterMode="row"
    
    (onLazyLoad)="getCategoriasIngresoData($event)"
    
    [loading]="loading"
    [tableStyle]="{ 'min-width': '50rem' }">

    <ng-template pTemplate="caption">
        <div class="flex items-center justify-between">
            <span class="text-xl font-bold">Categorias de Ingresos</span>
            <button
                pButton
                label="Agregar categoria" 
                (click)="addCategoria()" 
                icon="pi pi-sitemap" 
                class="bg-white w-40" 
                severity="info" text>
                
            </button>
            <div>
                <p-button icon="pi pi-eraser" 
                    class="mr-2"
                    (click)="resetTable()" rounded raised />
                <p-button icon="pi pi-filter-fill" 
                    class="mr-2"
                    (click)="showHiddeFilters()" rounded raised />
                <p-button icon="pi pi-refresh" 
                    (click)="reloadTable()" rounded raised />
            </div>  
        </div>
    </ng-template>
    
    <ng-template pTemplate="header">
        <!-- filtros -->
         <tr *ngIf="showFilters">
            <th>                
            </th>
            <th>
                <input class="border-solid border-2 rounded-full pl-2"
                pInputText
                type="text"
                (input)="onFilterInput($event, 'nombre', 'contains')"
                />
            </th>
            <th>
                <input class="border-solid border-2 rounded-full pl-2"
                pInputText
                type="text"
                (input)="onFilterInput($event, 'descri', 'contains')"
                />
            </th>
            <th>
                
            </th>            
        </tr>
        <tr>
            <th pSortableColumn="id"><p-sortIcon field="id" /> ID</th>
            <th pSortableColumn="nombre"><p-sortIcon field="username" /> Nombre</th>
            <th pSortableColumn="descri"><p-sortIcon field="descri" /> Descripción</th>
            <th pSortableColumn="visible"><p-sortIcon field="visible" /> Activa</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-categoria>
        <tr>
            <td>{{ categoria.id }}</td>
            <td>
                <div class="rounded-full px-2 text-white text-shadow-md text-shadow-black" [ngClass]="categoria.color">
                    <i *ngIf="categoria.icon!=null" [class]="categoria.icon"></i>
                    {{ categoria.nombre }}
                </div>                
            </td>
            <td>{{ categoria.descri }}</td>
            <td>
                @if(categoria.visible){
                    SI
                }@else {
                    NO
                }
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog 
    [(visible)]="visibleAdd" 
    [modal]="true"
    [draggable]="true"
    styleClass="w-160 min-w-80 h-130"
    contentStyleClass="dialog-content-scroll"
    [resizable]="false">
    <app-categoria-ingreso-create *ngIf="visibleAdd" 
        (msjEvent)="mostrarMensaje($event)"
        (cerrarDialog)="closeDialog($event)">

    </app-categoria-ingreso-create>
</p-dialog>
