<!-- <div class="bg-sky-800 bg-emerald-800 bg-rose-500 bg-red-600 bg-lime-700 bg-cyan-500 bg-yellow-400 bg-green-500 bg-violet-500 bg-lime-700 bg-orange-600 bg-red-400 bg-orange-800 bg-slate-600 bg-fuchsia-800 bg-indigo-600 bg-teal-300 "></div> -->
<h2 class="text-2xl font-semibold text-center text-color mb-22">Agregar nueva categoria de gasto</h2>
<form (ngSubmit)="onSubmit()" [formGroup]="registerForm" class="space-y-10">
    
    <div class="grid sm:grid-cols-2 gap-4">
        
        <div>
            <label for="nombre" class="block text-sm font-medium text-color mb-1">Nombre</label>
            <input
            id="nombre"
            type="text"
            pInputText
            formControlName="nombre"
            class="w-full"
            appAutofocus
            />
            <small *ngIf="registerForm.get('nombre')?.hasError('required') && registerForm.get('nombre')?.touched" class="text-red-500">
            Ingrese nombre
            </small>
        </div> 

        <div>
            <label for="descri" class="block text-sm font-medium text-color mb-1">Descripcion</label>
            <input
            id="descri"
            type="text"
            pInputText
            formControlName="descri"
            class="w-full"
            />            
        </div> 

        <div>
            <label for="color" 
            class="block text-sm font-medium text-color mb-1">
                Color
            </label>
            <input
            id="color"
            type="text"
            pInputText
            formControlName="color"
            class="w-full"
            />            
        </div> 

        <div>
            <label for="icon" 
            class="block text-sm font-medium text-color mb-1">
                Icono
            </label>
            <input
            id="icon"
            type="text"
            pInputText
            formControlName="icon"
            class="w-full"
            />            
        </div> 

        
    </div>    

    <div>
        <button
            pButton
            type="submit"
            label="Crear"
            class="w-full"
            [disabled]="registerForm.invalid"
        ></button>
    </div>
    
</form>